.random-hero-image-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
    position: relative;
}

.random-hero-image-wrapper .container {
    position: absolute;
    left: 0;
    right: 0;
}

.random-hero-image-wrapper .container.top {
    top: 45px;
}

.random-hero-image-wrapper .container.bottom {
    bottom: 45px;
}

.random-hero-image-wrapper p {
    line-height: 57px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline;
    border: 0 solid;
    padding: 0;
}


/* Fix for FF weird rendering but apparantly this only happens locally */


/* @-moz-document url-prefix() {
    .random-hero-image-wrapper span {
        padding: 5px 0px 0px 0px;
    }
} */

@media( max-width: 1200px) {
    .random-hero-image-wrapper {
        height: 400px;
    }
    .random-hero-image-wrapper .container.top {
        top: 34px;
    }
    .random-hero-image-wrapper .container.bottom {
        bottom: 34px;
    }
}

@media( max-width: 992px) {
    .random-hero-image-wrapper {
        height: 300px;
    }
    .random-hero-image-wrapper .container.top,
    .random-hero-image-wrapper .container.bottom {
        display: none;
    }
}

@media( max-width: 768px) {
    .random-hero-image-wrapper {
        height: 200px;
    }
}

@media( max-width: 600px) {
    .random-hero-image-wrapper {
        height: 200px;
    }
}