.uc-deadline-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 -0.5rem;
  padding: 0;
}

.deadline-callout {
  display: flex;
  flex: 1 1 20rem;
  flex-direction: column;
  margin: 0.5rem;
  position: relative;
  text-align: center;
}

.deadline-info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 3rem 1rem;
}

.deadline-date-container {
  padding-bottom: 2rem;
}

.deadline-info-container, 
.deadline-date-container {
  position: relative;
}

.deadline-title {
  flex-grow: 2;
}

.deadline-info {
  flex-grow: 1;
}

.deadline-item {
  max-width: 75%;
  margin: auto;
}

.deadline-month, .deadline-date {
  margin: 0;
}

.deadline-month {
  padding-top: 10px;
  text-decoration: none;
}

.deadline-month[title] {
  border-bottom: none;
}

