.uc-event-wrapper p[class^='uc-event'] {
  margin-bottom: 0;
}

.fa-event-container p[class^='fa-event-location'] {
  margin-bottom: 0.2em;
}

.fa-events-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.fa-event-start {
  margin-bottom: 0;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}

.fa-event-title {
  margin: 0.5em 0;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.2;
}

.fa-event-title:hover {
  text-decoration: underline;
}

.fa-event-location {
  margin: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.modal-dialog.fa-event-modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0;
}

.uc-events-list {
  list-style-type: none;
  margin: 0 2.5rem;
  padding: 0;
}

.uc-events-list + a {
  display: inline-block;
  margin-top: 1.5rem;
}

.uc-event-item {
  line-height: 1.4;
  position: relative;
}

.uc-event-item ~ .uc-event-item {
  margin-top: 2rem;
}

.uc-event-wrapper {
  align-items: flex-start;
  display: flex;
}

.uc-event-date,
.uc-event-detail {
  display: inline-block;
}

.uc-event-date {
  background: #ffffff;
  box-shadow: 0px 1px 4px #9c9c9c;
  overflow: hidden;
  text-align: center;
  min-width: 50px;
}

.uc-event-detail {
  min-width: 100%;
  min-width: min-content;
  margin-left: 20px;
}

.uc-event-date p,
.uc-event-detail p {
  margin: 0;
}

.uc-event-month-wrapper > .uc-event-month {
  border-bottom: 1px solid transparent;
  font-size: 12px;
  text-transform: uppercase;
}

.uc-event-day {
  font-size: 14px;
  padding: 8px 4px 4px 4px;
}

.uc-event-description {
  font-size: 16px;
}

.uc-event-list .event-link {
  display: table;
}

.uc-event-time,
.event-is-public {
  font-size: 12px;
}

.cal-modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.cal-modal.modal-open {
  align-items: center;
  display: flex;
  justify-content: center;
}

.cal-modal.modal-open:before {
  content: '';
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.cal-modal.modal-open > .cal-modal-dialog {
  background-color: #ffffff;
  border-radius: 4px;
  margin: 16px auto;
  max-width: 600px;
  padding: 16px;
}

.cal-modal-close {
  background-color: #000e2f;
  border: 1px solid #000e2f;
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
}

.cal-modal-close:hover,
.cal-modal-close:focus {
  background-color: #ffffff;
  color: #000e2f;
}

.cal-modal-body {
  margin-bottom: 32px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 16px 0
}