
#locations{margin:0 0 0 64px;}
#locations p{color:#fff;font-family:Proxima Nova, Verdana, Arial, Helvetica, sans-serif;}
#locations-select{font-size:16px;height:36px;width:450px;}
#location{margin:32px 0 0 64px;}
.location-icon{float:left;height:32px;margin:0 8px 0 0;position:relative;top:4px;width:32px;}
.location-item{color:#fff;float:left;font-family:Proxima Nova, Verdana, Arial, Helvetica, sans-serif;font-size:30px;font-weight:300;line-height:1.1em;margin:0 0 48px 0;white-space:pre-wrap;width:400px;}
#location-url{margin-left:40px;}
.clear{clear:both;}