.hb-container * + * {
  margin-top: 1em;
}

.hb-container {
  margin: 0 auto;
  max-width: 25em;
}

.hb-container + .hb-container {
  margin-top: 3em;
}

.hb-link_header .hb-link {
  box-shadow: none;
  font-weight: 600;
  line-height: 1.1;
}

.hb-image_container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 203px;
}

.hb-excerpt_container p {
  font-size: 16px;
}