.uc-cc-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.uc-cc-list-item {
  display: inline-block;
  vertical-align: top;
}

.uc-info-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.uc-info-container:before {
  border-radius: 50%;
  z-index: 0;
}

.uc-info-content {
  position: relative;
  text-transform: uppercase;
  line-height: 1;
}

.uc-info-content > p {
  margin-bottom: 1rem;
}

.uc-info-title {
  line-height: 1;
}
