.uc-ir-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.uc-ir-list-item {
  display: inline-block
}

@media screen and (max-width: 992px) {
  .uc-ir-list-item {
    max-width: 120px;
    vertical-align: top;
  }
}
