/*
*
*  css to be applied to all the modules.
*
 */

a[id^='cwo_item_link'] {
  display: inline-block;
  position: relative;
  width: 100%;
}

a[id^='cwo_item_link']:after {
  content: '';
  left: 0;
  position: absolute;
  transform-origin: left;
  transition-property: transform;
  width: 100%;
  z-index: 1;
}

a[id^='cwo_item_link']:hover:after {
  will-change: transform;
}

div[id^='cwo_item_container'] {
  display: flex;
  position: relative;
}

div[id^='cwo_item_container']:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;
  transition-property: opacity;
  will-change: opacity;
}

.fl-page-content a[id^='cwo_item_link'],
a[id^='cwo_item_link'] {
  text-decoration: none;
}

a[id^='cwo_item_link']:hover,
a[id^='cwo_item_link']:focus {
  text-decoration: none;
}

/* prevent underlines on the health clinical theme */
.fl-module-content .cwo-item-link {
  box-shadow: inherit;
  padding-bottom: 0;
}

.cwo-item-text {
  line-height: 1;
  position: relative;
}

.cwo-item-hover-text {
  display: none; 
}

.cwo-item-hover-text:hover, .cwo-item-hover-text:focus {
  display: block; 
}

.cwo-icon-container {
  position: absolute;
}

.cwo-icon-container:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: opacity;
  will-change: opacity;
}

.cwo-icon-container i {
  position: relative;
}


/* Custom Classes that, coupled with content in the Advanced Text Field, add a background to the text & a conformant text color */


