
#search-form{
	position:relative;
}
#search-text{
	background:#f7f7f7;
	color:#000e2f;
	font-family:"Proxima Nova";
	font-size:30px;
	height:93px;
	padding:0 32px;
	width:100%;
}

#search-results-button-open{
	background:#000e2f;
	border:0!important;
	position:absolute;
	right:0;
	top:0;
	height:93px;
	width:93px;
}

#search-text::-ms-clear{
	display: None;
}
::-ms-clear{
	display: None;
}

#search-results{
	background:#ffffff;
	border:1px solid #cccccc;
	border-top:0;
	border-bottom:0;
	display:none;
	list-style-type:none;
	margin:0;
	max-height:465px;
	overflow:auto;
	padding:0;
	position:absolute;
	left:0;
	top:93px;
	width:100%;
	z-index:1;
}

#search-results li{
	background:#ffffff;
	border-bottom:1px solid #bdc0c3;
	font-family:"Proxima Nova";
	font-size:28px; /* Changed this temporarily from 30 to 28 pixels to see if css was being loaded */
	height:93px;
	width:100%;
}

#search-results li:hover{
	background:#bdc0c3;
}

#search-results li#dymText{
	height:40px!important;
	color:#000e2f!important;
	display:inline-block!important;
    line-height:normal!important;
}

a#dymSuggestion{
	display:inline!important;
}

@media only screen and (min-width:481px){
	#search-results li#dymText{
		font-size:20px!important;
		padding: 7px 32px!important;
	}
	a#dymSuggestion{
		padding: 7px!important;
	}
}

#search-results a{
	color:#000e2f;
	display:block;
	line-height:normal;
	padding:28px 32px;
	text-decoration:none;
	box-shadow:none;
}

.visually-hidden{
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}

.arrow-up{
	border: solid white;
	border-width: 0 3px 3px 0;
	display: block;
	padding: 3px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	margin:auto;
	width:3px;
}

.arrow-down{
	border: solid white;
	border-width: 0 3px 3px 0;
	display: block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin:auto;
	width:3px;
}

@media only screen and (max-width:480px){
	#search-results li#dymText{
		font-size:18px!important;
		padding: 7px 15px!important;
	}
	a#dymSuggestion{
		padding: 7px!important;
	}
	#search-text{
		font-size:20px;
		height:62px;
		padding:0 15px;
	}
	#search-results-button-open{
		height:62px;
		width:62px;
	}
	#search-results{
		top:62px;
	}
	#search-results li{
		font-size:20px;
		height:62px;
	}
	#search-results a{
		padding:20px 15px;
	}
	
}
