
ol.breadcrumbs {
  color: #000e2f;
  font-family: "Proxima Nova";
  font-size: .75em;
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ol.breadcrumbs ol {
  display: inline;
  margin: 0;
  padding: 0;
}
ol.breadcrumbs li {
  display: inline;
}
ol.breadcrumbs li + li {
  margin-left: 1em;
}
ol.breadcrumbs li + li::before {
  /* content: '\f0da'; */
  display: inline-block;
  /* font-family: 'Font Awesome 5 Free', 'FontAwesome'; */
  margin-right: 1em;
  content: '';
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-left-color: #000e2f;
}
ol.breadcrumbs .fa-home {
  color: #000e2f;
  margin-right: .4em;
}

ol.breadcrumbs .home-icon {
  position: relative;
  top: -1px;
  margin-right: .4em;
}

ol.breadcrumbs a[aria-current] {
  box-shadow: none;
  color: inherit;
  text-decoration: none;
}
ol.breadcrumbs a[aria-current]:hover {
  background-color: transparent;
  cursor: text;
}



