/* .uc-custom-text a {

}

.uc-custom-text p {

}

.uc-custom-text span {

} */

.uc-custom-text blockquote {
  border-color: transparent;
  border-left: 0;
  margin: 0;
  padding: 0;
}

/* .uc-custom-text em {

}

.uc-custom-text strong {

} */
