/* Hide all items to start */
.sidebar-navigation-list .menu-item {
  display: none;
}

/* Show the current item, its ancestors, and descendants */
.sidebar-navigation-list .current-menu-item,
.sidebar-navigation-list .current-menu-item li,
.sidebar-navigation-list .current-menu-ancestor,
.sidebar-navigation-list .current-menu-ancestor li {
  display: block;
}

/* base styles for the list */
.sidebar-navigation-list,
.sidebar-navigation-list ul {
  list-style-type: none;
  padding: 0;
  position: relative;
}

.sidebar-navigation-list:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.sidebar-navigation-list .current-menu-item > a,
.sidebar-navigation-list .menu-item > a:hover {
  z-index: 0;
}

ul[id^='sidebar_navigation_list'] .menu-item > a {
  display: block;
  height: 100%;
  margin: 0px;
  padding: 0.75rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

ul[id^='sidebar_navigation_list'] .menu-item > a:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* give padding to children */
ul[id^='sidebar_navigation_list'] .sub-menu a {
  padding-left: 1.5rem;
  text-transform: none;
}

ul[id^='sidebar_navigation_list'] .sub-menu ul a {
  padding-left: 3rem;
}